@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh
}

input,
select {
  border: solid 2px black
}

.no-bot-border {
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.min-h-25 {
  min-height: 25vh;
}

.min-h-60 {
  min-height: 60vh;
}

.min-h-70 {
  min-height: 70vh;
}

.cv-background {
  background-image: url('../../public/img/CV.jpg');
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-size: cover;
}

.sub-background {
  background-image: url('../../public/img/Sub.jpg');
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-size: cover;
}

.bb-background {
  background-image: url('../../public/img/BB.jpg');
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-size: cover;
}